.PerksContainer {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.PerksContainer h2 {
  display:inline-block;
}
.PerksContainer-single-perk {
  font-size:0.8rem;
}
.PerksContainer-perks-icon {
  width:17px;
  height:17px;
}