.SortContainer {

}
.SortContainer-sort-container {
  display:flex;
  align-items: center;
  background: burlywood;
  padding: 5px;
  width: fit-content;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size:.8rem;
}
.SortContainer-sort-by-dropdown {
  border-radius: 5px;
}
.SortContainer-reverse-sort-img {
  width:25px;
  margin-left:5px;
  cursor:pointer;
}